/* Define a paleta de cores */
:root {
    --cor-fundo: #f5f5f5;       /* Cor de fundo */
    --cor-fonte: #8f1414;       /* Cor da fonte */
    --cor-destaque: #ff7f50;    /* Cor de destaque */
}


/* Aspectos gerais */
body {
    width: 800px; /* Tamanho fixo para a página inteira */
    margin: 0 auto; /* Centraliza a página */
    font-family: 'Arial', sans-serif; /* Fonte do tipo sans-serif */
    line-height: 1.6; /* Espaçamento entre linhas padrão */
    background-color: var(--cor-fundo);
    color: var(--cor-fonte);
}

p {
    text-indent: 1em; /* Indenta os parágrafos em 1em */
}

/* Títulos */
h1, h2, h3 {
    text-align: right; /* Alinha todos os títulos para a direita */
}

h1 {
    font-size: 1.8rem; /* Tamanho do h1 em 1.8rem */
}

h2 {
    font-size: 1.4rem; /* Tamanho do h2 em 1.4rem */
}

h3 {
    font-size: 1.2rem; /* Tamanho do h3 em 1.2rem */
}

/* Seções de resumo e principal */
.summary {
    text-align: center; /* Centraliza o conteúdo da seção de resumo */
}

.main {
    line-height: 1.5; /* Espaçamento entre as linhas de 1.5 para os parágrafos */
}

/* Abreviaturas */
abbr {
    font-variant: small-caps; /* Transforma todas as abreviaturas em small-caps */
}
